$primary: #2f4276;
$secondary: #617fd1;
$black: #000;
$black_2: #2e2e2e;
$black_3: #484848;
$clearWhite: #fff;
$white: #fcfcfc;
$red: #ff0000;
$orange: #f79323;
$orange-sub: #ffb157;
$orange-sub2: #ff8e2e;
$pale-orange: #fff3e5;
$yellow: rgba(255, 242, 87, 0.48);
$lime: #8cc63f;
$offWhite: #f2f2f2;
$gray: #484848;
